{{ define "layout" }}
<html>

<head>
  <title>{{.PageTitle}}</title>
  <meta name="viewport" content="width=device-width" />
  <meta name="description" content="The #1 source for James Pants and James Singleton related content" />
  <link rel="manifest" href="/static/manifest.json" />
  <meta name="theme-color" content="#fff" /> {{ template "style"}}
</head>

<body>
  <div class="award">
    <a href="http://www.automatedbeacon.net/" target="_blank" rel="noopener noreferrer">
      <p>MCLELLUM'S SPEED AWARD 2018</p>
    </a>
  </div>


  <div class="sidebar">
    <p>JAMES PANTS</p>
    <p>Code (Bloomberg) / Music (Stones Throw) / Radio (NTS)</p>
  </div>

  <main class="main__wrapper">


    {{range .Items}}
    <div class="main__item">
      <div class="main__item_year">{{.Year}}</div>
      <div class="main__item_type">{{.Type}}</div>
      <p>
        <a href={{.URL}} target="blank">{{.Title}} ⟶</a>
      </p>
      <p class="description">{{.Description}}</p>
    </div>
    {{end}}

  </main>


</body>

</html>
{{end}}