{{ define "layout" }}
<html>

<head>
  <title>{{.PageTitle}}</title>
  <meta name="viewport" content="width=device-width" />
  <meta name="description" content="The #1 source for James Pants and James Singleton related content" />
  <link rel="manifest" href="/static/manifest.json" />
  <meta name="theme-color" content="#fff" /> {{ template "style"}}
</head>

<body>
  <div class="award">
    <a href="http://www.automatedbeacon.net/" target="_blank" rel="noopener noreferrer">
      <p>MCLELLUM'S SPEED AWARD 2018</p>
    </a>
  </div>

  <main class="main__wrapper">

    <div class="main__item full high">
      <p class="box">JAMES PANTS</p>
    </div>
    <br/>
    <div class="main__item full">
      <p>Programmer (Bloomberg)</p>
      <p>Musican (Stones Throw)</p>
      <p>Radio Host (NTS)</p>
    </div>

    <div class="main__item full">
      <p>WEB</p>
    </div>


    {{range .Items}}
    <div class="main__item">
      <p>
        <a href="{{.URL}}" target="_blank" rel="noopener noreferrer ">{{.Name}}</a>
      </p>
    </div>
    {{end}}

  </main>


</body>

</html>
{{end}}