{{ define "layout" }}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{.PageTitle}}</title>
  <meta name="viewport" content="width=device-width" />
  <meta name="description" content="The #1 source for James Pants and James Singleton related content" />
  <link rel="manifest" href="manifest.json" />
  <meta name="theme-color" content="#fff" /> {{ template "style"}}
</head>

<body>



  <div class="sidebar">
    <p>JAMES PANTS</p>
    <p>Code (Bloomberg) / Music (Stones Throw) / Radio (NTS)</p>
    <p>Node / React / Golang / Typescript / Webpack / AWS / WebGL / SP303 / Drumset</p>
    <p>
      <a class="mail" href="mailto:jamespants@gmail.com">Contact</a>
    </p>
  </div>

  <main class="main__wrapper">


    {{range .Items}}
    <div class="main__item">
      <div class="main__item_year">{{.Year}}</div>
      <div class="main__item_type">{{.Type}}</div>
      <p>
        <a href={{.URL}} target="blank">{{.Title}} ⟶</a>
      </p>
      <p class="description">{{.Description}}</p>
    </div>
    {{end}}



  </main>


  <div class="bleed">
    <img src="tweet_tile.jpg" data-src="tweet.png" class="lazy" alt="A very famous tweet" />
  </div>


  <div class="bleed end">
    <img src="hat_tile.jpg" data-src="hat.jpg" class="lazy" alt="James Pants + James Singleton" />
  </div>


  <script src="/main.js"></script>
</body>

</html>
{{end}}