{{define "style"}}
<style>
  * {
    box-sizing: border-box;
  }

  html,
  body {
    width: 100%;
    height: auto;
    min-height: 100%;
    margin: 0;
    padding: 0;
  }

  body {
    font-size: 16px;
    overflow-x: hidden;
    font-family: Palatino;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body.friday .friday__doll {
    display: block;
  }

  @keyframes zoomOut {
    from {
      transform: translate3d(0, 0, 0);
    }
    to {
      transform: translate3d(0, 0, -100000px);
    }
  }

  a {
    transition: all 0.2s ease;
    display: block;
  }

  a:hover {
    transform: skewX(2deg) skewY(2deg) scale(0.9);
    text-decoration: none;
  }

  .main__wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: auto;
    background: white;
    transform-origin: bottom left;
  }

  .main__item {
    width: 100%;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    text-align: center;
    flex-direction: column;
  }

  .main__item p {
    max-width: 200px;
    margin: 0;
  }

  .main__item p a {
    text-decoration: none;
    color: black;
  }

  .main__item.full {
    width: 100%;
    align-items: center;
  }

  .main__item.high {
    height: 75vh;
  }

  .main__item.full p {
    width: 90%;
    margin: 0 auto;
    max-width: 500px;
  }

  .main__item.half {
    width: 100%;
    align-items: center;
  }

  hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
  }

  ul {
    text-align: center;
    margin: 0 auto;
    list-style-type: none;
    padding: 0;
  }

  ul a {
    color: black;
  }

  .award {
    position: fixed;
    transform: translate3d(0, 0, 0) rotate(30deg);
    top: 20px;
    right: 20px;
    width: 80px;
    height: 80px;
    text-align: center;
    z-index: 99;
    font-size: 10px;
    background: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }

  .award a {
    color: white;
    text-decoration: none;
  }

  .bleed {
    position: relative;
    z-index: 3;
  }

  .bleed.end {
    margin-top: 100px;
  }

  .bleed img {
    width: 100%;
    width: 100vw;
    opacity: 0;
    transition: opacity 0.3s linear;
  }

  .bleed img.loaded {
    opacity: 1;
  }

  .friday__doll {
    position: fixed;
    bottom: 20px;
    right: 10px;
    text-align: center;
    z-index: 99;
    display: none;
  }

  .friday__doll p {
    text-transform: uppercase;
    font-size: 10px;
    margin: 0;
  }

  .friday__doll img {
    width: 50px;
  }

  @media (min-width: 740px) {
    .main__item {
      width: 50%;
      height: 15rem;
    }
    .main__item.half {
      width: 50%;
    }
  }

  @media (min-width: 1024px) {
    .main__item {
      width: 33%;
      height: 17rem;
    }
    .main__item.half {
      width: 50%;
    }
  }
</style>
{{end}}